body {
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/2b553a60-c8f1-4e1e-8ac6-8ee224c54e51/dcq70o-c7ff82b7-7a19-4bdb-a137-fc0b1831cf95.jpg);
}
div > #sampletext {
    color: cornflowerblue;
}
article {
    text-align: center;
    padding: 15px;
    border: solid rgb(28, 124, 124) 3px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}
.slidecontainer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique; 
}
footer {
    display: block;
    position: fixed;
    right: auto;
    bottom: 5px;
    text-align: center;
}
article :hover{
    border-bottom: solid rgb(28, 124, 124) 6px;
}